################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Vectors/.vs/Vectors/v15/Server/sqlite3/db.lock
/Large Hadron Collider Simulation/.vs/Large Hadron Collider Simulation/v15/Server/sqlite3/db.lock
/Large Hadron Collider Simulation/.vs/Large Hadron Collider Simulation/v15/Server/sqlite3
**/packages
**/bin
**/obj

/Particle Collision Project/.vs/Particle Collision Project/v15/Server/sqlite3/db.lock
/Particle Collision Project/.vs/Particle Collision Project/v15/Server/sqlite3/storage.ide
/Particle Collision Project/.vs/Particle Collision Project/v15/Server/sqlite3/storage.ide-shm
/Particle Collision Project/.vs/Particle Collision Project/v15/Server/sqlite3/storage.ide-wal
