################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Vectors/.vs/Vectors/v15/Server/sqlite3/db.lock
/Large Hadron Collider Simulation/.vs/Large Hadron Collider Simulation/v15/Server/sqlite3/db.lock
/Large Hadron Collider Simulation/.vs/Large Hadron Collider Simulation/v15/Server/sqlite3
**/packages
**/bin
**/obj

